@size: 2rem; 
.monitor-panel-hidden {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-family:monospace;
    z-index: 9999;
    .x-panel {
        display:none
    }
    .monitor-panel-toggler-hidden {
        width:@size;
        height:@size;
        line-height:@size;
        position:absolute;
        right:0px;
        bottom:0px;
        font-size:@size;
        text-align:center;
        filter:opacity(0.5);
        &::after {
            content: '◤';
            cursor: pointer;
            color:green;
            cursor:pointer;
            display:block;
        }
        &:hover {
            filter:opacity(1);
        }
    }
}

.monitor-panel {
    pointer-events:none;
    .monitor-panel-toggler {
        pointer-events:all;
        width:@size;
        height:@size;
        line-height:@size;
        position:absolute;
        right:0px;
        bottom:0px;
        font-size:@size;
        text-align:center;
        &::after {
            content: '◢';
            cursor: pointer;
            color:red;
            cursor:pointer;
            display:block;
        }
    }

    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 150px;
    background-color: rgba(0,0,0,0.5);
    z-index:1000;
    padding:6px;
    padding-bottom:0px;
    border-top-left-radius:6px;
    font-family:monospace;
    font-size:12px;
    display:flex;
    flex-direction: column;
    line-height: 1.6em;
    box-sizing: initial;
    .x-panel {
        border-radius:3px;
        margin-bottom:6px;
        padding:6px;
        color:greenyellow;
        background-color: rgba(0,0,0,0.8);
    }
    .MEMmonitor, .VIEWmonitor, .LOADmonitor {
        ul {
            padding:0;
            margin:0;
        }
    }
    .LOADmonitor {
        max-height:200px;
        overflow: scroll;
        pointer-events:all;
        word-wrap: none;
        line-break: none;
        .loadMonitorItem{
            height:1.2em;
        }
        .loadMonitorLabel{
            padding-right: 6px;
        }
        .loadMonitorValue{
            font-weight: bolder;
            color:white;
        }
    }
    ul {
        list-style: none
    }
    .title {
        margin-bottom:6px;
        display: inline-block;
        font-weight:bold
    }
    .flexi {
        display:flex;
        justify-content: space-between;
    }
    .event{
        pointer-events:all;
        &::after {
            content: '⁕';
            cursor: pointer
        }
    }
}