.monitor-panel {
    pointer-events: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 150px;
    background-color: rgba(0,0,0,0.5);
    z-index:1000;
    padding:5px;
    padding-bottom:0px;
    border-top-left-radius:6px;
    font-family:monospace;
    font-size:0.8em;
    display:flex;
    flex-direction: column;
    line-height: 1.6em;
    box-sizing: initial;
    .x-panel {
        border-radius:3px;
        margin-bottom:5px;
        padding:5px;
        color:greenyellow;
        background-color: rgba(0,0,0,0.8);
    }
    .MEMmonitor {
        ul {
            padding:0;
            margin:0;
        }
    }
    ul {
        list-style: none
    }
    .title {
        margin-bottom:5px;
        display: inline-block;
        font-weight:bold
    }
    .flexi {
        display:flex;
        justify-content: space-between;
    }
}

